<div class="container">
	<div class="py-5 text-center">
		<img src="https://neo-cdn.azureedge.net/images/neo-logo/144.png" width="72px;" style="padding-bottom: 16px;" alt="NEO">
		<h2 class="text-primary">NEO Hackathon Messenger</h2>
		<p class="lead">Welcome to the NEO Hackathon bootstrap project</p>
	</div>

	<div class="row">
		<div class="col-12" id="header">
			<div class="card">
				<div class="card-body">
						<h5 class="card-title">Store a new contact</h5>
						<div class="form-row justify-content-around d-flex"><div>Public Key</div> <input id="tpk-contact" placeholder="239u80..."></input></div>
						<div class="form-row justify-content-around d-flex"><div>Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div> <input id="name-contact" placeholder="Henk..."></input></div>
						<button id="button2" style="float:right;" class="btn btn-primary mb-2">Add</button>
						<div id="contacts"></div>
						<hr></hr>
					<h5 class="card-title">Send a message in the hackathon messenger</h5>
					<div>
						<div class="form-row justify-content-around d-flex"><div>Their Public Key</div> <input id="tpk" placeholder="239u80..."></input></div>
						<div class="form-row justify-content-around d-flex"><div>Your Public Key</div> <input placeholder="gj459y84h5..."></input></div>
						<div class="form-row justify-content-around d-flex"><div>Message&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div> <input id="messagebox" placeholder="Hello!"></input></div>
						<hr></hr>
						<div class="form-row justify-content-around d-flex"><div>Your Private Key</div> <input placeholder="a748tg39ty..."></input></div>
						<button id="button1" style="float:right;" class="btn btn-primary mb-2">Send</button>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12 d-flex flex-column-reverse" id="main">
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>

<script type="text/javascript">

	'use strict';

	let socket = new WebSocket("ws://192.168.43.23:4080/socket/");

	socket.onopen = function () {
		console.log('WebSocket connection opened successfully');
		socket.send('Warm greetings from a web user');
	};

	socket.onmessage = function (event) {
		if (event.data) {
			let Event = JSON.parse(event.data);
			console.log(Event);
			if (Event.message) {
				let signature = '';
				if (Event.signature) {
					signature = '<div class="card-footer text-muted"><small><strong>Signature:</strong> '+Event.signature+'</small></div>';
				};
				let object = $('<div class="my-3 card animated rubberBand"><div class="card-header"><span class="float-right">'+Event.time+'</span><h5 class="p-0 m-0 card-title">'+Event.from+'</h5></div><div class="card-body"><h6 class="card-subtitle mb-2 text-muted">'+Event.uuid+'</h6><p class="card-text text-primary h3">'+Event.message+'</p></div>'+signature+'</div>');
				$('#main').append(object);
			};
		};
	};

	$('#messenger').ajaxForm( {
		beforeSubmit: function () {
			console.log('Sending message to server');
			let username = $('#username').val() || "Nobody";
			let message = $('#message').val() || "Nothing";
			let object = JSON.stringify( { "message": { "username": username, "message": message } } );
			socket.send(object);
		}
	} );

	$('#button1').on('click', function(eh) {
		var message = $('#messagebox').val();
		var tpk = $('#tpk').val();
		console.log(message);
		let object = $('<div class="my-3 card animated rubberBand"><div class="card-header"><span class="float-right">'+'Just now'+'</span><h5 class="p-0 m-0 card-title">'+'You'+'</h5></div><div class="card-body"><h6 class="card-subtitle mb-2 text-muted">To: '+tpk+'</h6><p class="card-text text-primary h3">'+message+'</p></div>'+''+'</div>');
				$('#main').append(object);
	});
	function sethenk() {
		$('#tpk').val('r34789rh9724th97');
	}	
	$('#button2').on('click', function(eh) {
		$('#contacts').append($('<button onclick="sethenk()">Henk</button>'))
	});



</script>
